.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  background: linear-gradient(to right, #004134, #036F49);
  padding: 10px 20px;
}

.logo {
  filter: brightness(0) invert(1); 
}

.navbar div {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin-right: 20px;
}

.navLink {
  text-decoration: none;
  color: white;
  transition: 0.3s;
  padding: 10px 5px;
}

.navLink:hover {
  outline: 1px solid white; 
}

.searchInput {
  margin-left: 20px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px; /* Deixa os cantos arredondados */
  transition: box-shadow 0.3s ease; /* Transição suave para o hover */
}

.searchInput:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra leve */
  border-color: blue; /* Altera a cor da borda no hover */
}

/* styles/SearchBar.module.css */
.searchButton {
  background-color: red;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: darkred;
}
