/* components/SecondNav.module.css */
.secondNav {
  padding: 10px 20px; /* Espaçamento à esquerda e direita para alinhamento */
  background-color: #004134; 
}

.navList {
  list-style: none;
  display: flex;
  justify-content: flex-start; /* Alinha os links à esquerda */
  gap: 20px; /* Espaçamento entre os links */
  margin: 0;
  padding: 0;
}

.navItem a {
  text-decoration: none; /* Remove o sublinhado */
  font-size: 14px;
  color: #FFF; /* Cor azul escuro */
  padding: 10px 5px;
}

.navItem a:hover {
  outline: 1px solid white; 
}
